.intros{
    .hdg{
    width: 209px;
    height: 52px;
    left: 50px;
    top: 150px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    
    color: #FFFFFF;
    }
    .cnt
    {
    width: 766px;
    height: 105px;
    left: 50px;
    top: 225px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #FFFFFF;
    }
    
    }